Hi {{ user.fname}},<br /><br />

Greetings!<br /><br />

Kindly click the link below to confirm your email address for account activation.<br /><br />

<a href="{{ url }}">{{ url }}</a><br /><br />

Sincerely,<br />

Kimberly Darl