<div class="masthead clearfix">
	<div class="inner">
	  <h3 class="masthead-brand">Cover</h3>
	  <ul class="nav masthead-nav">
	    <li><a href="{{ path('home') }}">Home</a></li>
	    <li><a href="{{ path('profile') }}">Profile</a></li>
	    <li><a href="{{ path('logout') }}">Logout</a></li>
	  </ul>
	</div>
</div>